# Week One Data Mining

## Data Analysis

In [10]:
import numpy as np # Used for numerical analysis

import pandas as pd # Used for data manipulation

import matplotlib.pyplot as plt # used for data visualisation

import seaborn as sns # used for data visualisation

In [12]:
data = pd.read_csv("ICU Dataset.csv")
data

,aline_flg,icu_los_day,hospital_los_day,age,gender_num,weight_first,bmi,sapsi_first,sofa_first,service_unit,...,platelet_first,sodium_first,potassium_first,tco2_first,chloride_first,bun_first,creatinine_first,po2_first,pco2_first,iv_day_1
0,1,7.63,13,72.36841,1,75.0,29.912791,15,9,SICU,...,354,138,4.6,15.0,109,41,1.6,196,39,2230.875000
1,0,1.14,1,64.92076,0,55.0,20.121312,0,5,MICU,...,0,0,0.0,0.0,0,0,0.0,0,0,600.000000
2,0,2.86,5,36.50000,0,70.0,27.118272,16,5,MICU,...,295,144,3.9,17.0,101,16,0.8,298,30,2086.800293
3,1,0.58,3,44.49191,0,0.0,0.000000,21,7,SICU,...,262,139,4.2,31.0,100,16,0.5,146,23,0.000000
4,1,1.75,5,23.74217,1,95.2,28.464563,18,7,SICU,...,22,146,3.4,19.0,110,10,1.0,134,30,2358.244141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771,1,26.90,31,68.48606,1,76.6,0.000000,17,8,MICU,...,294,135,3.4,23.0,100,17,0.9,253,35,100.117500
1772,1,3.70,4,72.44020,0,60.0,0.000000,14,5,SICU,...,363,138,6.3,22.0,104,20,0.8,154,45,289.950012
1773,0,2.87,3,22.70098,1,69.0,0.000000,16,5,MICU,...,121,134,4.1,23.0,105,27,0.6,0,0,157.500000
1774,1,22.63,23,53.74423,1,124.4,0.000000,18,9,SICU,...,374,137,4.6,21.0,99,13,1.1,84,31,21.770000
1775,1,2.08,10,60.87331,0,65.4,0.000000,14,7,MICU,...,226,139,3.9,3.0,111,25,1.4,574,12,4368.000000

### Getting Data Quantitative Summary

In [15]:
data.describe()

,aline_flg,icu_los_day,hospital_los_day,age,gender_num,weight_first,bmi,sapsi_first,sofa_first,service_num,...,platelet_first,sodium_first,potassium_first,tco2_first,chloride_first,bun_first,creatinine_first,po2_first,pco2_first,iv_day_1
count,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,...,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000,1776.000000
mean,0.554054,3.346498,8.110923,54.379660,0.577140,75.116289,20.525779,13.460023,5.801239,0.552928,...,244.974662,139.166104,4.096059,24.347917,103.546734,19.223536,1.092005,203.784347,38.867117,1492.234615
std,0.497210,3.356261,8.157159,21.062854,0.494153,29.107346,14.130223,5.022830,2.355077,0.497331,...,100.994385,8.774033,0.822922,5.150361,7.942119,14.382976,1.083512,153.776161,18.756267,1667.711517
min,0.000000,0.500000,1.000000,15.180230,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.370000,3.000000,38.247318,0.000000,63.000000,0.000000,11.000000,4.000000,0.000000,...,181.000000,137.000000,3.600000,22.000000,101.000000,11.000000,0.700000,82.000000,33.000000,192.089993
50%,1.000000,2.185000,6.000000,53.678585,1.000000,75.000000,23.589902,14.000000,6.000000,1.000000,...,239.000000,140.000000,4.000000,24.000000,104.000000,15.000000,0.900000,173.500000,40.000000,900.282501
75%,1.000000,4.002500,10.000000,72.762992,1.000000,89.200000,28.913280,17.000000,7.000000,1.000000,...,297.000000,142.000000,4.400000,27.000000,107.000000,22.000000,1.100000,298.250000,46.000000,2331.549926
max,1.000000,28.240000,112.000000,99.110950,1.000000,257.600000,98.797134,32.000000,17.000000,1.000000,...,988.000000,165.000000,9.800000,62.000000,133.000000,139.000000,18.300000,634.000000,158.000000,13910.000000